.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

button {
  padding: 8px;
  margin: 20px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: ease-in-out 200ms all;
}

button:hover {
  background-color: lightblue;
}